

body {
    background-color: #fafafa;
    margin: 0;
}

ol, ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

input {
    appearance: none;
    background-color: transparent;
    border: none;
    font: inherit;
}

header {
    top:0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.0625rem solid #dbdbdb;
    box-sizing: border-box;
    padding: 1rem;
    position: fixed;
    z-index: 1;
}

header > form {
    top: 50%;
    right: max(50%, 22.5rem);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    transform: translate(50%, -50%);
    z-index: 1;
}

header > form > label {
    width: 15rem;
}

 header > form > label > input {
    width: 100%;
    background-color: #fafafa;
    border: 0.0625rem solid #dbdbdb;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    line-height: 100%;
    outline: none;
    padding: 0.25rem 0;
    text-align: center;
}

 header > form > label > input:valid,
  header > form > label > input:focus {
    padding-left: 1.6rem;
    text-align: left;
}

  header > form > label > input:valid + span.holder,
  header > form > label > input:focus + span.holder {
    left: 0.5rem;
    transform: translate(0, -50%);
}

  header > form > label > input:valid + span.holder > span {
    display: none;
}

  header > form > label > span.holder {
    top: 50%;
    left: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

  header > form > label > span.holder > img {
    height: 1rem;
    margin-right: 0.2rem;
}

  header > form > label > span.holder > span {
    top: -0.0625rem;
    color: #a0a0a0;
    line-height: 100%;
    font-size: 0.8rem;
    position: relative;
}

  header > div {
    left: 50%;
    width: 100%;
    max-width: var(--width);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    transform: translate(-50%);
}

  header > div > img {
    height: 2rem;
}

  header > div > div.spring {
    flex: 1;
}

  header > div > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  header > div > ul > li:not(:last-child) {
    margin-right: 1.375rem;
}

  header > div > ul > li > a {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

  header > div > ul > li > a > img {
    height: 100%;
}

  header > div > ul > li.profile > a {
    background-color: #e0e5ea;
    border-radius: 50%;
    overflow: hidden;
}

  header > div > ul > li.profile > a > img {
    height: 75%;
}