<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.juniorpi.instagram.mappers.IBoardMapper">
    <insert id="insertFile">
        INSERT INTO `instagram`.`file` (id, name, type, file)
        VALUES (#{fid}, #{name}, #{type}, #{fileBytes})
    </insert>
</mapper>