<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.juniorpi.instagram.mappers.IUserMapper">
    <select id="selectUser"
            resultType="dev.juniorpi.instagram.dtos.UserDto"
            parameterType="dev.juniorpi.instagram.vos.LoginVo">
        SELECT `index`    AS `index`,
               `email`    AS `email`,
               `name`     AS `name`,
               `nickname` AS `nickname`,
               `password` AS `password`,
               `level`    AS `level`
        FROM `instagram`.`users`
        WHERE `email` = #{email}
          AND `password` = #{password}
    </select>
    <select id="selectEmailCount" resultType="_int">
        SELECT COUNT(`index`)
        FROM `instagram`.`users`
        WHERE `email` = #{email}
    </select>

    <select id="selectNicknameCount" resultType="_int">
        SELECT COUNT(`index`)
        FROM `instagram`.`users`
        WHERE `nickname` = #{nickname}
    </select>

    <insert id="insertUser" parameterType="dev.juniorpi.instagram.vos.user.RegisterVo">
        INSERT INTO `instagram`.`users` (`email`, `name`, `nickname`, `password`)
        VALUES (#{email}, #{name}, #{nickname}, #{password})
    </insert>
</mapper>